body {
  font-family: sans-serif;
  background: url(images/KokodaRiver.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
ul {
  list-style: none;
}
li {
  list-style-type: none;
  display: inline-block;
  padding: .5em;
  width: 8em;
  background-color: grey;
  text-align: center;
  border: 5px #4A7023 solid;
  border-radius: 2.5px;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
}
header {
  float: left;
  color: white;
  font-family: headerFont;
}

#content {
  margin-left: 90px;
  width: 90%;
  height: 75%;
  left: 5%;
  top: 17%;
  background-color: rgba(255, 255, 255, 0.4);
}

#content-nest {
  margin-left: 20px;
  padding-top: 20px;
  font-size: 25px;
  font-weight: bold;
}

#Booknow {
  background-color: #2A2A2A;
  margin-left: 50%;
  width: 12%;
  height: 5%;
  color: white;
  font-weight: bold;
  border: black 1px solid;
  margin-bottom: 2em;
}
@font-face {
  font-family: headerFont;
  src: url(BLACKADD.TTF);
}

nav, ul {
  margin-top: 2.5em;
}

#rest {
  margin-left: 80px;
  position: absolute;
  top: 10px;
  left: 200px;
  color: black;
  font-size: 100px;
  font-weight: bold;

}

#K {
  margin-left: 80px;
  font-size: 195px;
  position: absolute;
  top: 1px;
  left: 100px;
}

nav {
  margin-left: 260px;
  margin-top: 6.5em;
  margin-bottom: 0em;
}

footer {
  background: rgba(255, 255, 255, 0.4);
}

#footer {
  text-align: center;
  width: 90%;
  margin-left: 90px;
}

#footer-buttons {
  display: inline-block;
  color: black;
  margin-bottom: 0em;

}
