body {
  font-family: sans-serif;
  background: url(images/KokodaRiver.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
ul {
  list-style: none;
}
li {
  width:170px;
  list-style-type: none;
  display: inline-block;
  padding: .5em;
  background-color: #181818;
  text-align: center;
  border: 3.5px #4A7023 solid;
  border-radius: 1.5px;
  font-size: 15px;
  /*Transition Effects*/
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
li:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: grey;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
}
header {
  float: left;
  color: white;
  font-family: headerFont;
  font: headerFont;
}

#content {
  margin-top: 5px;
  margin-left: 90px;
  padding-left: 150px;
  padding-top: 30px;
  width: 73.75%;
  height: 55%;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.5);
}

#aboutUS {
  /*background-image: url(images/Cover.jpg);*/
  background-size: 400px 500px;
  background-repeat: no-repeat;
  background-position: 550px;
}

#Booknow {
  background-color: #2A2A2A;
  margin-left: 13%;
  width: 12%;
  height: 30px;
  color: white;
  font-weight: bold;
  border: black 1px solid;
  margin-bottom: 2em;
}
@font-face {
  font-family: headerFont;
  src: url(BLACKADD.TTF);
}

nav, ul {
  margin-top: 2.5em;
}

#rest {
  margin-top: 25px;
  margin-left: 100px;
  position: absolute;
  top: 25px;
  left: 210px;
  color: black;
  font-size: 80px;
  font-weight: bold;
  font-style: oblique;;
  font-family: Georgia, serif;

}

#K {
  margin-left: 80px;
  font-size: 200px;
  position: absolute;
  top: 0px;
  left: 100px;
  margin-top: 0px;
  font-style: normal;
  font-family: Georgia, serif;
}

nav {
  margin-left: 300px;
  margin-top: 8.9em;
  margin-bottom: 0em;
}

footer {
  font-weight: bold;
  float: center;
  margin-left: 90px;
  width: 85%;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 40px;
  line-height: -60px;
}

#footer {
  padding-top: 20px;
  padding-left: 100px;
  margin-left: 2px;
}

#footer div a {
  width: 80px;
  color: black;
  display: inline;
  float: right;
  float: bottom;

}

#footer p {
  line-height: .5;
}

#post_Office {
  padding-left: 50px;
}

#InfoList li {
  display: ;
  border: none;
  background-color: transparent;
  padding-top: 0em;
  font-weight: 500;
}

#InfoList li a {
  padding: 0.25em;
  background-color: #181818;
  text-align: center;
  border: 3.5px #4A7023 solid;
  border-radius: 1.5px;
  font-size: 15px;
  /*Transition Effects*/
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#InfoList li a:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: grey;
}

#ToOwers {
  margin-bottom: 3em;
}

h2  {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
